@font-face {
    font-family: 'AR Julian';
    src: url('./ARJULIAN.ttf');
}

html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'AR Julian', serif;
    width: 100%;
    height: 100%;
    background: black;
    margin: 0;
    padding: 0;
}

#tip-container {
    height: 80%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#tip-content {
    color: white;
    font-size: 8cqh;
    text-align: center;
    transition: opacity 1s ease;
    opacity: 1;
    will-change: opacity;
    padding: 0 20px;
}

.static-text-container {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
}

.static-text-content {
    padding: 0 20px;
    color: white;
    font-size: 5cqh;
}

.right {
    justify-content: end;
}

.fade-out {
    opacity: 0 !important;
}

.fade-in {
    opacity: 1 !important;
}
